<h2>New celebrity</h2>
<form action="/celebrities/new" method="POST">

<label>Name</label>
<input type="text" name="name" />

<label>Occupation</label>
<input type="text" name="occupation" />

<label>Catchphrase</label>
<input type="text" name="catchphrase" />

<button type="submit">New celebrity</button>

</form>